.content-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-panel {
    margin-bottom: 20px;
}
.flex {
    display: flex;
}
.label {
    font-weight: bold;
    font-size: larger;
    margin-right: 10px;
    font-family: "Lucida Calligraphy", cursive, serif, sans-serif;
}
.div-canvas {
    border-style:ridge;
    #border-color:pink;
    border-color:#98bf21;
    border-width:8px;
    background-color: lightgray;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: pink;
}

.h-css {
    font-size:3.0em;
    color: coral;
    font-family: "Lucida Calligraphy", cursive, serif, sans-serif;
}